<% provide(:title, t(:bpm)) %>

  <%= render 'shared/navigation2' %>
  
    <div id="contact" class="fullSection">
      <div class="container">
      
        <div class="section-heading">
          <h2><%= t(:bpm) %></h2>
        </div>
        
        <div class="row">
          <!-- contact form -->
          <div class="col-md-12 col-sm-12">
            <div class="contact-form  wow fadeInLeft showdelay2">
              <p style="text-align: center">Тут будет страница о bpm-системе</p>
            <div class="clearfix"></div>
            </div>
          </div>
          <!-- ./contact form -->
          
        </div>
        <!-- /row -->
                  
      </div>    