<% provide(:title, "BPM on Rails - система управления бизнес-процессами") %>
<% provide(:keywords, "BPM on Rails - система управления бизнес-процессами") %>
<% provide(:description, "BPM on Rails - система управления бизнес-процессами") %>

<%= render 'shared/navigation_bpm' %>
  
<div class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <i class="fa fa-cubes" style="font-size: 130px;"></i>
      <h2>BPM on Rails - система управления бизнес-процессами</h2>
    </div>              
  </div>  
</div>  

<div id="tasks" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Решаемые задачи</h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Электронные согласования</h3>             
        <p>Автоматизация процессов согласования</p>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Документооборот</h3>
        <p>Электронные документооборот</p>
      </div>
    </div>            
    <!-- /row -->
              
  </div>
      
</div>    

<div id="price" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Цены</h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Электронные согласования</h3>             
        <p>Автоматизация процессов согласования</p>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Документооборот</h3>
        <p>Электронные документооборот</p>
      </div>
    </div>            
              
  </div>
      
</div> 

<div id="tech" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Технологии</h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Электронные согласования</h3>             
        <p>Автоматизация процессов согласования</p>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Документооборот</h3>
        <p>Электронные документооборот</p>
      </div>
    </div>            
              
  </div>
      
</div> 

<div id="why" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Приемущества</h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Электронные согласования</h3>             
        <p>Автоматизация процессов согласования</p>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Документооборот</h3>
        <p>Электронные документооборот</p>
      </div>
    </div>            
              
  </div>
      
</div> 

<div id="contact" class="fullSection">
  <div class="container">
  
    <div class="section-heading">
      <h2>Контакты</h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Электронные согласования</h3>             
        <p>Автоматизация процессов согласования</p>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
        <h3>Документооборот</h3>
        <p>Электронные документооборот</p>
      </div>
    </div>            
              
  </div>
      
</div> 