<% provide(:title, 'Реквизиты') %>
<%= render 'shared/navigation2' %>

<div id="contact" class="fullSection">
  <div id="footer_min" class="container">
    <h2>Реквизиты</h2>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <ul class="unstyled">
          <li itemprop="name">Наименование: ООО "Бизнес-Оптимизация"</li>
          <li>Юр. адрес: 630058, г. Новосибирск, ул. Русская, 39</li>
          <li>Почтовый адрес: 109457, г. Москва, Мещерский переулок, 6-2-108</li>
          <li>Телефон: +7 916 592 6645</li>
          <li>Email: info@busation.com</li>
          <li>ИНН/КПП: 5408290560 / 540801001</li>
          <li>ОГРН: 1115476126590</li>
          <li>Банк: АО "АЛЬФА-БАНК", г. Москва</li>
          <li>Расчетный счет: 40702810302880000716</li>
          <li>Кор. счет: 30101810200000000593</li>
          <li>БИК: 044525593</li>
        </ul>
      </div>
    </div>
  </div>
</div>  
