<% provide(:title, t(:step2_title)) %>
	<%= render 'shared/navigation2' %>
		<div id="contact" class="fullSection">
			<div class="container">
			
				<div class="section-heading">
				      <% if !params[:type].blank? %>
				      	<% if params[:type] == "api" %>
				      	  <h2>Заказ на разработку модуля интеграции или API-приложения</h2>
				      	<% end %>
				      	<% if params[:type] == "site" %>
				      	  <h2>Заказать сайт</h2>
				      	<% end %>
				      	<% if params[:type] == "react" %>
				      	  <h2>Заказать разработку на React.js</h2>
				      	<% end %>
				      	<% if params[:type] == "learn" %>
				      	  <h2>Записаться на обучение</h2>
				      	  <p><b>Укажите, желаемое время, уровень (начальный, продвинутый) и курс (верстка, Ruby On Rails, React.js, JavaScript)</b></p>
				      	<% end %>					      			      	
				      <% else %>
				        <h2><%= t(:step2_title) %></h2>
				      <% end %>
				</div>
				
				<div class="row">
					<!-- contact form -->
					<div class="col-md-6 col-sm-6">
						<div class="contact-form  wow fadeInLeft showdelay2">
							<%= render 'form' %>
						<div class="clearfix"></div>
						</div>
					</div>
					<!-- ./contact form -->
					
				</div>
				<!-- /row -->
									
			</div>		