<% provide(:title, t(:message_sent)) %>

  <%= render 'shared/navigation2' %>
  
    <div id="contact" class="fullSection">
      <div class="container">
      
        <div class="section-heading">
          <h2><%= t(:message_sent) %></h2>
        </div>
        
        <div class="row">
          <!-- contact form -->
          <div class="col-md-6 col-sm-6">
            <div class="contact-form  wow fadeInLeft showdelay2">
              <p style="text-align: center"><%= @message.name %>, ваше сообщение отправлено!</p>
            <div class="clearfix"></div>
            </div>
          </div>
          <!-- ./contact form -->
          
        </div>
        <!-- /row -->
                  
      </div>    