<div class="container">
	<div class="section-heading">
		<h2>Контакты</h2>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div class="contact-form  wow fadeInLeft showdelay2">
				<%= render 'messages/form' %>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="address  wow fadeInRight showdelay2">
				<h3>Связь с нами</h3>
				<ul class="unstyled">
					<li>ООО "Бизнес-Оптимизация"</li>
					<li itemprop="email"><i class="fa fa-envelope"></i><a href="mailto:info@busation.com">info@busation.com</a></li>
					<li><i class="fa fa-skype"></i>Skype: busation</li>
					<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<li><i class="fa fa-phone"></i><span itemprop="addressLocality">Москва</span>: <span itemprop="telephone">+7 916 592 6645</span>
						</li>
					</span>
					<li><i class="fa fa-phone"></i>Санкт-Петербург: +7 812 934 8899</li>
					<li><i class="fa fa-hand-o-right"></i><span itemprop="url">www.busation.com</span>
					</li> 							
				</ul>
				<div id="rekv">
					<a href="/r">Смотреть реквизиты</a>
				</div>
				<div id="subscribe-block">
					<a href="/subscribe" class="btn btn-custom btn-lg">Подписаться на новости компании</a>
				</div>
				<h3>Мы в соц. сетях</h3>
				<ul class="social-link">
					<li><a href="https://www.facebook.com/klishevich"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://vk.com/klishevich"><i class="fa fa-vk"></i></a></li>
					<li><a href="https://twitter.com/busation"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.youtube.com/user/busation/videos"><i class="fa fa-youtube"></i></a></li>
					<li><a href="https://www.linkedin.com/in/busation"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
