<div class="container">

	<div class="section-heading">
		<h2>Контакты</h2>
	</div>
	
	<div class="row">
		<!-- contact form -->
		<div class="col-md-6 col-sm-6">
			<div class="contact-form  wow fadeInLeft showdelay2">
			<%= render 'messages/form' %>
			<div class="clearfix"></div>
			</div>
		</div>
		<!-- ./contact form -->
		
		<!-- address -->
		<div class="col-md-6 col-sm-6">
			<div class="address  wow fadeInRight showdelay2">
				<h3>Связь с нами</h3>
				<ul class="unstyled">
					<li itemprop="email"><i class="fa fa-envelope"></i>info@busation.com</li>
					<li><i class="fa fa-skype"></i>Skype: busation</li>
					<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<li><i class="fa fa-phone"></i>
							<span itemprop="addressLocality">Москва</span>: 
							<span itemprop="telephone">+7 916 592 6645</span>
						</li>
					</span>	
		            <li><i class="fa fa-hand-o-right"></i>
		              <span itemprop="url">www.busation.com</span>
		            </li> 							
				</ul>
			</div>
			<div class="social wow fadeInRight showdelay2">
				<h3>Мы в соц. сетях</h3>
				<ul class="social-link">
					<li><a href="https://www.facebook.com/klishevich"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/busation"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/busation"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://plus.google.com/+busation/posts"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<div class="social wow fadeInRight showdelay2">
				<h3>Реквизиты</h3>
				<ul class="unstyled">
					<li itemprop="name">ООО "Бизнес-Оптимизация"</li>
					<li>Юридический адрес: 630058, г. Новосибирск, ул. Русская, 39</li>
					<li>ИНН/КПП: 5408290560 / 540801001</li>
					<li>ОГРН: 1115476126590</li>
					<li>Банк: ОАО "АЛЬФА-БАНК", г. Москва</li>
					<li>Расчетный счет: 40702810302880000716</li>
					<li>Корреспондентский счет: 30101810200000000593</li>
					<li>БИК: 046577859</li>
				</ul>
			</div>
			
		</div>
		<!-- ./address -->
		
	</div>
	<!-- /row -->
						
</div>