    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div class="hidden-xs">
            <a class="navbar-brand" href="/"><%= image_tag("BO_1.png", alt: "logo") %></a>
          </div>
          <div class="visible-xs-block">
            <a class="navbar-brand" href="/"><%= image_tag("BO_2.png", alt: "logo") %></a>
          </div>          
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-nav">
          <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll"><a id="icon-box1" href="/#icon-box">Услуги</a></li>
          <li class="page-scroll"><a id="featured1" href="/#featured">Клиенты</a></li>
          <li class="page-scroll"><a id="showcase1" href="/#showcase">Партнеры</a></li>
          <li class="page-scroll"><a id="team1" href="/#team">Команда</a></li>
          <li class="page-scroll"><a id="pricing1" href="/#pricing">Цены</a></li>
          <li class="page-scroll"><a id="contact1" href="/#contact">Контакты</a></li>
          <li class="page-scroll"><a id="blog" href="http://blog.busation.com" target="_blank">Блог</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- ./navigation -->